<h1>Current Player: {{ player }}</h1>

<div class ="wrapper">
    <button class ="button" nbButton outline status="danger" (click) ="newGame()">Start new Game</button>
</div>  

<h2 *ngIf="(winner) && (winner != 'draw'); else draw;">
        Player {{ winner }} won the game!
</h2>   

<ng-template #draw >
    <h2 *ngIf="(winner=='draw')">
        It's a draw!
    </h2>
</ng-template>

<main>
    
        <app-square 
            *ngFor="let val of squares; let i = index" 
            [value]="val"
            (click)="makeMove(i)"> 

        </app-square>
</main>



