    h1,h2 {
        text-align: center;
    }

    .wrapper {
        text-align: center;
    }

    main {
        display: grid;
        grid-template-columns: 150px 150px 150px;   
        grid-template-rows  : 150px 150px 150px;  
        row-gap: 5px;
        column-gap: 5px; 
        justify-content: center;
        padding: 25px;
        
    }
    
    app-square {
        height: 150px;
        width: 150px;
    }