    h1,h2 {
        text-align: center;
    }

    .wrapper {
        text-align: center;
    }

    main {
        display: grid;
        grid-template-columns: 200px 200px 200px;   
        grid-template-rows  : 200px 200px 200px;   
        justify-content: center;
        padding: 25px;
        
    }
    
    app-square {
        border: 1px gray solid;
        height: 200px;
        width: 200px;
    }