    h1,h2 {
        text-align: center;
    }

    .wrapper {
        text-align: center;
    }

    main {
        display: grid;
        grid-template-columns: 100px 100px 100px;   
        grid-template-rows  : 100px 100px 100px;  
        row-gap: 5px;
        column-gap: 5px; 
        justify-content: center;
        padding: 25px;
        
    }
    
    app-square {
        height: 100px;
        width: 100px;
    }